@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-space), ui-sans-serif, system-ui, sans-serif;
  --color-brand: #f5f5f0;
  --color-dark: #050505;
}

@layer base {
  body {
    @apply bg-dark text-brand;
  }
}
